<div style="
     margin-left:auto;
     margin-right:auto;
     width:100%;
     max-width:1280px;

">
  <!-- style = "background-size: contain; background-repeat: no-repeat; width:100vw; height: 100vh;max-height:590px; max-width:1280px; background-image: url(assets/dsi_home.png);"> -->
   <div class="row" style = "
     overflow: hidden;
     /* background-size: contain; */
     background-repeat: no-repeat;
     width:100%;
     height: 540px;
     max-width:1280px;
     background-image: url(assets/dsi_home.png);
     background-position-x: 80px;
     padding-left: 0%;
     padding-right:0%;
     margin-left:0%;
     margin-right:0%;
   ">
    <div class="col-1"></div>
     <div class="col-10 self-align-center" style="margin-top:auto; margin-bottom:auto;">
       <div style="text-shadow: 0 0 10px white, 0 0 20px white;">
           <h1>
             Digital System Indonesia
           </h1>
         <h4>Tidak Pernah Menyerah</h4>
       </div>
     </div>
   </div>
</div>
<div class="container">
  <div class="row">
      <div class = "card col-md-6" style="text-align: center; padding-top:10pt; padding-bottom:20pt">
        <h4>Visi</h4><br>
        Digital System Indonesia dibangun atas kesadaran untuk membangun Indonesia dalam bidang Informasi dan Teknologi khususnya dalam dunia Komputer atau Digital, karena masih banyak masyarakat Indonesia yang belum memahami secara penuh tentang dunia Digital ataupun Informasi dan Teknologi (Komputer).
      </div>
      <div class = "card col-md-6" style="text-align: center; padding-top:10pt; padding-bottom:20pt">
        <h4>Misi</h4><br>
        Menjadi perusahaan yang selalu memberikan solusi terbaik terhadap permasalahan yang terjadi di dunia Informasi dan Teknologi di Indonesia.
      </div>
      <!-- <div class ="col-6" style = "background-size: contain; background-repeat: no-repeat; width:100vw; height: 100vh;max-height:590px; max-width:1280px; background-image: url(assets/dsi_home.png);">
      </div>
      </div> -->
  </div>
</div>
